<h1 style="color:#C4341A;"> Chargez les donnÃ©es dans votre Notebook ðŸŒŸ</h1>

<p style="color:#67B743; font-weight:bold;">Importation de panda</p>

In [3]:
import pandas as pd

<h2 style="color:#C4341A;">Importation EdStatsCountry-Series.csv </h2>

<p style="color:#67B743; font-weight:bold;">Importation EdStatsCountry-Series</p>


<blockquote style="background-color:#f9f9f9; color:#333; border-left:5px solid #007BFF; padding:10px;">
Chaque ligne correspond Ã  un pays avec son acronymes </blockquote>

In [6]:
data_edSCS_csv = pd.read_csv('EdStatsCountry-Series.csv')

#Colonne inutile
data_edSCS_csv = data_edSCS_csv.drop(columns=['Unnamed: 3'])

data_edSCS_csv.head()

,CountryCode,SeriesCode,DESCRIPTION
0,ABW,SP.POP.TOTL,Data sources : United Nations World Population...
1,ABW,SP.POP.GROW,Data sources: United Nations World Population ...
2,AFG,SP.POP.GROW,Data sources: United Nations World Population ...
3,AFG,NY.GDP.PCAP.PP.CD,Estimates are based on regression.
4,AFG,SP.POP.TOTL,Data sources : United Nations World Population...

In [7]:
#Netoyage Des pays
valid_countries = data_edSCS_csv['CountryCode'].tolist()
#print("Liste des pays valides :")
#print(valid_countries)

In [8]:
#Rouge pour les cellules NaN
data_edSCS_csv.style.highlight_null('red')

<p style="color:#67B743; font-weight:bold;">Collectez des informations basiques sur chaque jeu de donnÃ©es</p>

<p style="color:#67B743; font-weight:bold;">Nombre de ligne et colonne :</p>

In [9]:
row = data_edSCS_csv.shape[0]
column = data_edSCS_csv.shape[1]

print("Nombre de ligne :", row)
print("Nombre de collone :", column)

Nombre de ligne : 613
Nombre de collone : 3

<p style="color:#67B743; font-weight:bold;">Nombre de doublon :</p>

In [10]:
d = data_edSCS_csv.duplicated(subset=['CountryCode', 'SeriesCode']).sum()
print("Nombre de doublon :", d)
print(data_edSCS_csv.duplicated(subset=['CountryCode', 'SeriesCode']))

Nombre de doublon : 0
0      False
1      False
2      False
3      False
4      False
       ...
608    False
609    False
610    False
611    False
612    False
Length: 613, dtype: bool

In [11]:
data_edSCS_csv = data_edSCS_csv.drop_duplicates(subset=['CountryCode']) 
print("Nombre de lignes aprÃ¨s suppression des doublons :", data_edSCS_csv.shape[0])

Nombre de lignes aprÃ¨s suppression des doublons : 211

In [12]:
#Pourcentage de valeurs manquantes = (Nombre de valeurs manquantes / Nombre total de valeurs) * 100
missing_values = data_edSCS_csv.isnull().sum()
total_values = data_edSCS_csv.count() + missing_values
percentage_missing = (missing_values / total_values) * 100
print(percentage_missing)

CountryCode    0.0
SeriesCode     0.0
DESCRIPTION    0.0
dtype: float64

In [13]:
#Colonnes inutilisables :
clean = data_edSCS_csv.dropna(axis=1, how='all')
print("suppression de toutes les colonnes inutiles :", clean)

suppression de toutes les colonnes inutiles :     CountryCode   SeriesCode  \
0           ABW  SP.POP.TOTL
2           AFG  SP.POP.GROW
10          AGO  SP.POP.TOTL
12          ALB  SP.POP.GROW
14          AND  SP.POP.TOTL
..          ...          ...
597         XKX  SP.POP.TOTL
605         YEM  SP.POP.GROW
607         ZAF  SP.POP.TOTL
609         ZMB  SP.POP.GROW
611         ZWE  SP.POP.TOTL

                                           DESCRIPTION
0    Data sources : United Nations World Population...
2    Data sources: United Nations World Population ...
10   Data sources : United Nations World Population...
12   Data sources: United Nations World Population ...
14   Data sources : United Nations World Population...
..                                                 ...
597  Data sources : World Bank's Kosovo coutnry off...
605  Data sources: United Nations World Population ...
607  Data sources : Statistics South Africa, United...
609  Data sources: United Nations World Population ...
611  Data sources : United Nations World Population...

[211 rows x 3 columns]

In [16]:
#Calcule statistique :
data_edSCS_csv.describe()

,CountryCode,SeriesCode,DESCRIPTION
count,211,211,211
unique,211,4,41
top,ABW,SP.POP.GROW,Data sources: United Nations World Population ...
freq,1,105,72

In [17]:
print(data_edSCS_csv.columns)

columns = [
    'CountryCode',
    'SeriesCode'
]

for col in columns:
    print(f"{col} :")
    print(data_edSCS_csv[col].value_counts())
    print()

Index(['CountryCode', 'SeriesCode', 'DESCRIPTION'], dtype='object')
CountryCode :
CountryCode
ABW    1
AFG    1
AGO    1
ALB    1
AND    1
      ..
XKX    1
YEM    1
ZAF    1
ZMB    1
ZWE    1
Name: count, Length: 211, dtype: int64

SeriesCode :
SeriesCode
SP.POP.GROW          105
SP.POP.TOTL          103
NY.GNP.PCAP.PP.CD      2
NY.GDP.MKTP.PP.KD      1
Name: count, dtype: int64

<hr style="border: 1px solid #C4341A;">

<h2 style="color:#C4341A;"> EdStatsCountry.csv </h2>

<p style="color:#67B743; font-weight:bold;">Importation EdStatsCountry</p>

<blockquote style="background-color:#f9f9f9; color:#333; border-left:5px solid #007BFF; padding:10px;">
Chaque ligne correspond Ã  un pays, donnÃ©es sur le nom et l'acronyme du pays, ses revenus, ainsi que diverses dates d'Ã©vÃ©nements majeurs Ã©conomiques.
</blockquote>

<hr style="border: 1px solid #C4341A;">

In [26]:
data_edSC_csv = pd.read_csv('EdStatsCountry.csv')

#Colonne inutile
data_edSC_csv = data_edSC_csv.drop(columns=['Unnamed: 31'])

#Rouge pour les cellules NaN
data_edSC_csv.style.highlight_null('red')

<hr style="border: 1px solid #C4341A;">

In [27]:
#Netoyage Des pays
#data_edSC_csv.drop(data_edSC_csv[data_edSC_csv['Short Name'] == 'Aruba'].index, inplace=True)

data_edSC_csv = data_edSC_csv[data_edSC_csv['Country Code'].isin(valid_countries)]

data_edSC_csv.head()

,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Special Notes,Region,Income Group,WB-2 code,...,Government Accounting concept,IMF data dissemination standard,Latest population census,Latest household survey,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data,Latest water withdrawal data
0,ABW,Aruba,Aruba,Aruba,AW,Aruban florin,SNA data for 2000-2011 are updated from offici...,Latin America & Caribbean,High income: nonOECD,AW,...,NaN,NaN,2010,NaN,NaN,Yes,NaN,NaN,2012.0,NaN
1,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,Fiscal year end: March 20; reporting period fo...,South Asia,Low income,AF,...,Consolidated central government,General Data Dissemination System (GDDS),1979,"Multiple Indicator Cluster Survey (MICS), 2010/11","Integrated household survey (IHS), 2008",NaN,2013/14,NaN,2012.0,2000
2,AGO,Angola,Angola,People's Republic of Angola,AO,Angolan kwanza,"April 2013 database update: Based on IMF data,...",Sub-Saharan Africa,Upper middle income,AO,...,Budgetary central government,General Data Dissemination System (GDDS),1970,"Malaria Indicator Survey (MIS), 2011","Integrated household survey (IHS), 2008",NaN,2015,NaN,NaN,2005
3,ALB,Albania,Albania,Republic of Albania,AL,Albanian lek,NaN,Europe & Central Asia,Upper middle income,AL,...,Budgetary central government,General Data Dissemination System (GDDS),2011,"Demographic and Health Survey (DHS), 2008/09",Living Standards Measurement Study Survey (LSM...,Yes,2012,2010.0,2012.0,2006
4,AND,Andorra,Andorra,Principality of Andorra,AD,Euro,NaN,Europe & Central Asia,High income: nonOECD,AD,...,NaN,NaN,2011. Population figures compiled from adminis...,NaN,NaN,Yes,NaN,NaN,2006.0,NaN

<p style="color:#67B743; font-weight:bold;">Collectez des informations basiques sur chaque jeu de donnÃ©es</p>

<p style="color:#67B743; font-weight:bold;">Nombre de ligne et colonne :</p>

In [28]:
row = data_edSC_csv.shape[0]
column = data_edSC_csv.shape[1]

print("Nombre de ligne :", row)
print("Nombre de collone :", column)

Nombre de ligne : 211
Nombre de collone : 31

<p style="color:#67B743; font-weight:bold;">Nombre de doublon :</p>

In [29]:
d = data_edSC_csv.duplicated().sum()
print("Nombre de doublon :", d)

print(data_edSC_csv.duplicated(subset=['Country Code','Short Name','Table Name', 'Long Name','2-alpha code']))

Nombre de doublon : 0
0      False
1      False
2      False
3      False
4      False
       ...
236    False
237    False
238    False
239    False
240    False
Length: 211, dtype: bool

In [30]:
data_csv = data_edSC_csv.drop_duplicates() 
print("Nombre de lignes aprÃ¨s suppression des doublons :", data_edSC_csv.shape[0])

Nombre de lignes aprÃ¨s suppression des doublons : 211

In [31]:
#Pourcentage de valeurs manquantes = (Nombre de valeurs manquantes / Nombre total de valeurs) * 100
missing_values = data_edSC_csv.isnull().sum()
total_values = data_edSC_csv.count() + missing_values
percentage_missing = (missing_values / total_values) * 100
print(percentage_missing)

Country Code                                          0.000000
Short Name                                            0.000000
Table Name                                            0.000000
Long Name                                             0.000000
2-alpha code                                          1.421801
Currency Unit                                         0.000000
Special Notes                                        43.601896
Region                                                0.473934
Income Group                                          0.473934
WB-2 code                                             0.473934
National accounts base year                           3.317536
National accounts reference year                     84.834123
SNA price valuation                                   6.635071
Lending category                                     32.227488
Other groups                                         72.511848
System of National Accounts                           0.000000
Alternative conversion factor                        77.725118
PPP survey year                                      31.279621
Balance of Payments Manual in use                    14.218009
External debt Reporting status                       41.232227
System of trade                                       5.213270
Government Accounting concept                        23.696682
IMF data dissemination standard                      14.218009
Latest population census                              0.000000
Latest household survey                              33.175355
Source of most recent Income and expenditure data    24.644550
Vital registration complete                          47.867299
Latest agricultural census                           32.701422
Latest industrial data                               49.289100
Latest trade data                                    12.322275
Latest water withdrawal data                         15.165877
dtype: float64

In [32]:
#Colonnes inutilisables :
clean = data_edSC_csv.dropna(axis=1, how='all')
print("suppression de toutes les colonnes inutiles :", clean)

suppression de toutes les colonnes inutiles :     Country Code    Short Name    Table Name                     Long Name  \
0            ABW         Aruba         Aruba                         Aruba
1            AFG   Afghanistan   Afghanistan  Islamic State of Afghanistan
2            AGO        Angola        Angola   People's Republic of Angola
3            ALB       Albania       Albania           Republic of Albania
4            AND       Andorra       Andorra       Principality of Andorra
..           ...           ...           ...                           ...
236          XKX        Kosovo        Kosovo            Republic of Kosovo
237          YEM         Yemen   Yemen, Rep.             Republic of Yemen
238          ZAF  South Africa  South Africa      Republic of South Africa
239          ZMB        Zambia        Zambia            Republic of Zambia
240          ZWE      Zimbabwe      Zimbabwe          Republic of Zimbabwe

    2-alpha code       Currency Unit  \
0             AW       Aruban florin
1             AF      Afghan afghani
2             AO      Angolan kwanza
3             AL        Albanian lek
4             AD                Euro
..           ...                 ...
236          NaN                Euro
237           YE         Yemeni rial
238           ZA  South African rand
239           ZM  New Zambian kwacha
240           ZW         U.S. dollar

                                         Special Notes  \
0    SNA data for 2000-2011 are updated from offici...
1    Fiscal year end: March 20; reporting period fo...
2    April 2013 database update: Based on IMF data,...
3                                                  NaN
4                                                  NaN
..                                                 ...
236  Kosovo became a World Bank member on June 29, ...
237  Based on official government statistics and In...
238  Fiscal year end: March 31; reporting period fo...
239  National accounts data have rebased to reflect...
240  Fiscal year end: June 30; reporting period for...

                         Region          Income Group WB-2 code  ...  \
0     Latin America & Caribbean  High income: nonOECD        AW  ...
1                    South Asia            Low income        AF  ...
2            Sub-Saharan Africa   Upper middle income        AO  ...
3         Europe & Central Asia   Upper middle income        AL  ...
4         Europe & Central Asia  High income: nonOECD        AD  ...
..                          ...                   ...       ...  ...
236       Europe & Central Asia   Lower middle income        KV  ...
237  Middle East & North Africa   Lower middle income        RY  ...
238          Sub-Saharan Africa   Upper middle income        ZA  ...
239          Sub-Saharan Africa   Lower middle income        ZM  ...
240          Sub-Saharan Africa            Low income        ZW  ...

       Government Accounting concept  \
0                                NaN
1    Consolidated central government
2       Budgetary central government
3       Budgetary central government
4                                NaN
..                               ...
236                              NaN
237     Budgetary central government
238  Consolidated central government
239     Budgetary central government
240  Consolidated central government

                IMF data dissemination standard  \
0                                           NaN
1      General Data Dissemination System (GDDS)
2      General Data Dissemination System (GDDS)
3      General Data Dissemination System (GDDS)
4                                           NaN
..                                          ...
236    General Data Dissemination System (GDDS)
237    General Data Dissemination System (GDDS)
238  Special Data Dissemination Standard (SDDS)
239    General Data Dissemination System (GDDS)
240    General Data Dissemination System (GDDS)

                              Latest population census  \
0                                                 2010
1                                                 1979
2                                                 1970
3                                                 2011
4    2011. Population figures compiled from adminis...
..                                                 ...
236                                               2011
237                                               2004
238                                               2011
239                                               2010
240                                               2012

                               Latest household survey  \
0                                                  NaN
1    Multiple Indicator Cluster Survey (MICS), 2010/11
2                 Malaria Indicator Survey (MIS), 2011
3         Demographic and Health Survey (DHS), 2008/09
4                                                  NaN
..                                                 ...
236                                                NaN
237          Demographic and Health Survey (DHS), 2013
238  Demographic and Health Survey (DHS), 2003; Wor...
239          Demographic and Health Survey (DHS), 2013
240       Demographic and Health Survey (DHS), 2010/11

     Source of most recent Income and expenditure data  \
0                                                  NaN
1              Integrated household survey (IHS), 2008
2              Integrated household survey (IHS), 2008
3    Living Standards Measurement Study Survey (LSM...
4                                                  NaN
..                                                 ...
236            Integrated household survey (IHS), 2011
237     Expenditure survey/budget survey (ES/BS), 2005
238     Expenditure survey/budget survey (ES/BS), 2010
239            Integrated household survey (IHS), 2010
240         Integrated household survey (IHS), 2011/12

    Vital registration complete            Latest agricultural census  \
0                           Yes                                   NaN
1                           NaN                               2013/14
2                           NaN                                  2015
3                           Yes                                  2012
4                           Yes                                   NaN
..                          ...                                   ...
236                         NaN                                   NaN
237                         NaN                                   NaN
238                         NaN                                  2007
239                         NaN  2010. Population and Housing Census.
240                         NaN                                   NaN

    Latest industrial data Latest trade data Latest water withdrawal data
0                      NaN            2012.0                          NaN
1                      NaN            2012.0                         2000
2                      NaN               NaN                         2005
3                   2010.0            2012.0                         2006
4                      NaN            2006.0                          NaN
..                     ...               ...                          ...
236                    NaN               NaN                          NaN
237                 2006.0            2012.0                         2005
238                 2010.0            2012.0                         2000
239                    NaN            2011.0                         2002
240                    NaN            2012.0                         2002

[211 rows x 31 columns]

In [33]:
#Calcule statistique :
data_edSC_csv.describe()

,National accounts reference year,Latest industrial data,Latest trade data
count,32.00000,107.000000,185.000000
mean,2001.53125,2008.102804,2010.994595
std,5.24856,2.616834,2.569675
min,1987.00000,2000.000000,1995.000000
25%,1996.75000,2007.500000,2011.000000
50%,2002.00000,2009.000000,2012.000000
75%,2005.00000,2010.000000,2012.000000
max,2012.00000,2010.000000,2012.000000

In [66]:
#calculez le nombre d'occurrences : 

columns = [
    'Government Accounting concept', 'IMF data dissemination standard',
    'Latest population census', 'Latest household survey',
    'Source of most recent Income and expenditure data',
    'Vital registration complete', 'Latest agricultural census',
    'Latest industrial data', 'Latest trade data',
    'Latest water withdrawal data'
]


for col in columns:
    count = data_edSC_csv[col].value_counts()
    print(f"Occurrences for '{col}':")
    print(count)
    print("-" * 40)

Occurrences for 'Government Accounting concept':
Government Accounting concept
Consolidated central government    95
Budgetary central government       66
Name: count, dtype: int64
----------------------------------------
Occurrences for 'IMF data dissemination standard':
IMF data dissemination standard
General Data Dissemination System (GDDS)      110
Special Data Dissemination Standard (SDDS)     71
Name: count, dtype: int64
----------------------------------------
Occurrences for 'Latest population census':
Latest population census
2011                                                                                                                                                                              59
2010                                                                                                                                                                              49
2012                                                                                                                                                                              18
2009                                                                                                                                                                              14
2008                                                                                                                                                                               9
2007                                                                                                                                                                               9
2006                                                                                                                                                                               8
2013                                                                                                                                                                               8
2004                                                                                                                                                                               7
2002                                                                                                                                                                               5
2005                                                                                                                                                                               4
2011. Population figures compiled from administrative registers.                                                                                                                   3
2003                                                                                                                                                                               3
1984                                                                                                                                                                               2
1970                                                                                                                                                                               2
1998                                                                                                                                                                               2
1979                                                                                                                                                                               1
2006. Rolling census based on continuous sample survey.                                                                                                                            1
Guernsey: 2009; Jersey: 2011.                                                                                                                                                      1
1996                                                                                                                                                                               1
2011. The population censuses for 1986 and 1996 were based on a one-in-seven sample of the population, while that for 2006 was based on a one-in-ten sample of the population.     1
1997                                                                                                                                                                               1
1993                                                                                                                                                                               1
1983                                                                                                                                                                               1
1987                                                                                                                                                                               1
2001                                                                                                                                                                               1
1989                                                                                                                                                                               1
Name: count, dtype: int64
----------------------------------------
Occurrences for 'Latest household survey':
Latest household survey
Multiple Indicator Cluster Survey (MICS), 2012                                                                                                   10
World Health Survey (WHS), 2003                                                                                                                  10
Demographic and Health Survey (DHS), 2013                                                                                                        10
Multiple Indicator Cluster Survey (MICS), 2011                                                                                                    9
Multiple Indicator Cluster Survey (MICS), 2010                                                                                                    9
Demographic and Health Survey (DHS), 2012                                                                                                         8
Demographic and Health Survey (DHS), 2011                                                                                                         6
Demographic and Health Survey (DHS), 2009                                                                                                         4
Demographic and Health Survey (DHS), 2011/12                                                                                                      4
Demographic and Health Survey (DHS), 2010                                                                                                         4
Multiple Indicator Cluster Survey (MICS), 2011/12                                                                                                 4
Multiple Indicator Cluster Survey (MICS), 2010/11                                                                                                 4
Multiple Indicator Cluster Survey (MICS), 2006                                                                                                    4
Demographic and Health Survey (DHS), 2008/09                                                                                                      2
Demographic and Health Survey (DHS), 2008                                                                                                         2
HIV/Maternal and Child Health (HIV/MCH) Service Provision Assessments (SPA), 2013                                                                 2
Reproductive Health Survey (RHS), 2008                                                                                                            2
Demographic and Health Survey (DHS), 2012/13                                                                                                      2
Multiple Indicator Cluster Survey (MICS), 2000                                                                                                    2
Malaria Indicator Survey (MIS), 2013                                                                                                              2
Demographic and Health Survey (DHS), 2003; World Health Survey (WHS), 2003                                                                        2
Demographic and Health Survey (DHS), 2005                                                                                                         1
Demographic and Health Survey (DHS), 1988                                                                                                         1
National Sample Survey on Population Change (NSS), 2007                                                                                           1
Living Standards Measurement Study Survey (LSMS), 2007                                                                                            1
Malaria Indicator Survey (MIS), 2012                                                                                                              1
Demographic and Health Survey (DHS), 2006                                                                                                         1
Malaria Indicator Survey (MIS), 2011                                                                                                              1
Reproductive Health Survey (RHS), 1985                                                                                                            1
Reproductive Health Survey (RHS), 2008/09                                                                                                         1
Demographic and Health Survey (DHS), 2002                                                                                                         1
Multiple Indicator Cluster Survey (MICS), 2005; Reproductive Health Survey (RHS), 2005                                                            1
Reproductive Health Survey (RHS), 2004                                                                                                            1
Malaria Indicator Survey (MIS), 2010; HIV/Maternal and Child Health (HIV/MCH) Service Provision Assessments (SPA), 2010                           1
Family Health Survey (FHS), 1996                                                                                                                  1
Demographic and Health Survey (DHS), 2005/06                                                                                                      1
Multiple Indicator Cluster Survey (MICS)/Pan Arab Project for Family Health (PAPFAM), 2006                                                        1
National Survey of Demographic Dynamics (ENADID), 2009                                                                                            1
Multiple Indicator Cluster Survey (MICS), 2009/10                                                                                                 1
Multiple Indicator Cluster Survey (MICS), 2005/06                                                                                                 1
Reproductive Health Survey (RHS), 1991                                                                                                            1
Reproductive Health Survey (RHS), 2006/2007                                                                                                       1
Demographic and Health Survey (DHS), 2006/07                                                                                                      1
Demographic and Health Survey (DHS), 2000                                                                                                         1
Continuous Demographic and Health Survey (DHS), 2013                                                                                              1
Living Standards Measurement Study Survey (LSMS), 2008                                                                                            1
Reproductive Health Survey (RHS), 1995/96                                                                                                         1
Living Standards Measurement Study Survey (LSMS), 1996                                                                                            1
Reproductive Health Survey (RHS), 1999                                                                                                            1
Demographic survey, 2007                                                                                                                          1
Sudan Household Health Survey (SHHS), 2010                                                                                                        1
Multiple Indicator Cluster Survey (MICS), 2009                                                                                                    1
Continuous Demographic and Health Survey (DHS), 2013/14; HIV/Maternal and Child Health (HIV/MCH) Service Provision Assessments (SPA), 2013/14     1
National Health Survey (NHS), 2010                                                                                                                1
Demographic and Health Survey (DHS), 2013; Malaria Indicator Survey (MIS), 2013                                                                   1
Demographic and Health Survey (DHS), 2009/10                                                                                                      1
HIV/Maternal and Child Health (HIV/MCH) Service Provision Assessments (SPA), 2013/14                                                              1
HIV/AIDS Indicator Survey (AIS), 2011; Demographic and Health Survey (DHS), 2011                                                                  1
Multiple Indicator Cluster Survey (MICS), 2007                                                                                                    1
Demographic and Health Survey (DHS), 2010/11                                                                                                      1
Name: count, dtype: int64
----------------------------------------
Occurrences for 'Source of most recent Income and expenditure data':
Source of most recent Income and expenditure data
Integrated household survey (IHS), 2012                   15
Integrated household survey (IHS), 2010                    9
Integrated household survey (IHS), 2011                    9
Expenditure survey/budget survey (ES/BS), 2012             7
Integrated household survey (IHS), 2008                    7
                                                          ..
Living Standards Measurement Study Survey (LSMS), 1998     1
Integrated household survey (IHS), 1992                    1
Labor force survey (LFS), 2009                             1
Expenditure survey/budget survey (ES/BS), 2011/12          1
Integrated household survey (IHS), 2011/12                 1
Name: count, Length: 75, dtype: int64
----------------------------------------
Occurrences for 'Vital registration complete':
Vital registration complete
Yes                                                 110
Yes. Vital registration for Guernsey and Jersey.      1
Name: count, dtype: int64
----------------------------------------
Occurrences for 'Latest agricultural census':
Latest agricultural census
2010                                    36
2007                                    16
2013                                    13
2012                                    10
2011                                     9
2014                                     7
2008                                     5
2009                                     5
2013/ 2014                               4
2010. Population and Housing Census.     3
2015                                     3
2013/14                                  2
2011/12                                  2
2012/13                                  2
2011. Population and Housing Census.     2
2008/ 2009                               2
2011/2012                                2
2011/ 2012                               2
2006                                     1
2013/15                                  1
2009/2010                                1
2010/11                                  1
2009. Population and Housing Census.     1
2013/2014                                1
2009/ 2010                               1
2006/ 2007                               1
2008. Population and Housing Census.     1
2004-2008                                1
2012/ 2013                               1
2007/2008                                1
2007. Population and Housing Census.     1
2010/ 2011                               1
2014/ 2015                               1
2007/08                                  1
2012 /2013                               1
Name: count, dtype: int64
----------------------------------------
Occurrences for 'Latest industrial data':
Latest industrial data
2010.0    42
2009.0    27
2008.0    11
2006.0     8
2007.0     6
2002.0     4
2001.0     3
2003.0     2
2000.0     2
2005.0     1
2004.0     1
Name: count, dtype: int64
----------------------------------------
Occurrences for 'Latest trade data':
Latest trade data
2012.0    135
2011.0     19
2010.0      7
2009.0      7
2008.0      4
2007.0      3
2006.0      2
2005.0      2
2000.0      2
2003.0      1
1997.0      1
2002.0      1
1995.0      1
Name: count, dtype: int64
----------------------------------------
Occurrences for 'Latest water withdrawal data':
Latest water withdrawal data
2000                           40
2005                           40
2007                           18
2002                           16
2009                           12
2006                           10
2001                           10
2008                            6
2003                            6
2004                            6
2010                            4
1999                            2
1993                            2
1994                            1
1986                            1
1997                            1
1979                            1
2005. Includes South Sudan.     1
1975                            1
1995                            1
Name: count, dtype: int64
----------------------------------------

<hr style="border: 1px solid #C4341A;">

<h2 style="color:#C4341A;"> Importation EdStatsData </h2>

<blockquote style="background-color:#f9f9f9; color:#333; border-left:5px solid #007BFF; padding:10px;">
Chaque ligne correspond Ã  un pays avec son code de sÃ©rie unique</blockquote>

In [18]:
data_edSD_csv = pd.read_csv('EdStatsData.csv')

data_edSD_csv = data_edSD_csv.drop(columns=['Unnamed: 69'])
data_edSD_csv.head() 

data_edSD_csv.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1970,1971,1972,1973,1974,1975,...,2055,2060,2065,2070,2075,2080,2085,2090,2095,2100
0,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.F,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.GPI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.M,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arab World,ARB,"Adjusted net enrolment rate, primary, both sex...",SE.PRM.TENR,54.822121,54.894138,56.209438,57.267109,57.991138,59.36554,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
# Netoyage 
data_edSD_csv = data_edSD_csv[data_edSD_csv['Country Code'].isin(valid_countries)]

data_edSD_csv.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1970,1971,1972,1973,1974,1975,...,2055,2060,2065,2070,2075,2080,2085,2090,2095,2100
91625,Afghanistan,AFG,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2,NaN,NaN,NaN,NaN,7.05911,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91626,Afghanistan,AFG,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.F,NaN,NaN,NaN,NaN,2.53138,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91627,Afghanistan,AFG,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.GPI,NaN,NaN,NaN,NaN,0.22154,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91628,Afghanistan,AFG,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.M,NaN,NaN,NaN,NaN,11.42652,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91629,Afghanistan,AFG,"Adjusted net enrolment rate, primary, both sex...",SE.PRM.TENR,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#Rouge pour les cellules NaN
data_edSD_csv.style.highlight_null('red')

**Collectez des informations basiques sur chaque jeu de donnÃ©es**

**Nombre de ligne et colonne : **

In [ ]:
row = data_edSD_csv.shape[0]
column = data_edSD_csv.shape[1]

print("Nombre de ligne :", row)
print("Nombre de colone :", column)

**Nombre de doublon : **

In [121]:
print("Nombre de doublon :", data_edSD_csv.duplicated().sum())

Nombre de doublon : 0

In [122]:
data_edSD_csv = data_edSD_csv.drop_duplicates() 
print("Nombre de lignes aprÃ¨s suppression des doublons :", data_edSD_csv.shape[0])

Nombre de lignes aprÃ¨s suppression des doublons : 886930

In [123]:
#Pourcentage de valeurs manquantes = (Nombre de valeurs manquantes / Nombre total de valeurs) * 100
missing_values = data_edSD_csv.isnull().sum()
total_values = data_edSD_csv.count() + missing_values
percentage_missing = (missing_values / total_values) * 100
print(percentage_missing)

Country Name        0.000000
Country Code        0.000000
Indicator Name      0.000000
Indicator Code      0.000000
1970               91.849639
                     ...
2085               94.200670
2090               94.200670
2095               94.200670
2100               94.200670
Unnamed: 69       100.000000
Length: 70, dtype: float64

In [363]:
#Colonnes inutilisables :
clean = data_edSD_csv.dropna(axis=1, how='all')
print("suppression de toutes les colonnes inutiles :", clean)

suppression de toutes les colonnes inutiles :        Country Name Country Code  \
0        Arab World          ARB
1        Arab World          ARB
2        Arab World          ARB
3        Arab World          ARB
4        Arab World          ARB
...             ...          ...
886925     Zimbabwe          ZWE
886926     Zimbabwe          ZWE
886927     Zimbabwe          ZWE
886928     Zimbabwe          ZWE
886929     Zimbabwe          ZWE

                                           Indicator Name  \
0       Adjusted net enrolment rate, lower secondary, ...
1       Adjusted net enrolment rate, lower secondary, ...
2       Adjusted net enrolment rate, lower secondary, ...
3       Adjusted net enrolment rate, lower secondary, ...
4       Adjusted net enrolment rate, primary, both sex...
...                                                   ...
886925  Youth illiterate population, 15-24 years, male...
886926  Youth literacy rate, population 15-24 years, b...
886927  Youth literacy rate, population 15-24 years, f...
886928  Youth literacy rate, population 15-24 years, g...
886929  Youth literacy rate, population 15-24 years, m...

              Indicator Code       1970       1971       1972       1973  \
0                 UIS.NERA.2   0.000000   0.000000   0.000000   0.000000
1               UIS.NERA.2.F   0.000000   0.000000   0.000000   0.000000
2             UIS.NERA.2.GPI   0.000000   0.000000   0.000000   0.000000
3               UIS.NERA.2.M   0.000000   0.000000   0.000000   0.000000
4                SE.PRM.TENR  54.822121  54.894138  56.209438  57.267109
...                      ...        ...        ...        ...        ...
886925      UIS.LP.AG15T24.M   0.000000   0.000000   0.000000   0.000000
886926     SE.ADT.1524.LT.ZS   0.000000   0.000000   0.000000   0.000000
886927  SE.ADT.1524.LT.FE.ZS   0.000000   0.000000   0.000000   0.000000
886928  SE.ADT.1524.LT.FM.ZS   0.000000   0.000000   0.000000   0.000000
886929  SE.ADT.1524.LT.MA.ZS   0.000000   0.000000   0.000000   0.000000

             1974      1975  ...  2060  2065  2070  2075  2080  2085  2090  \
0        0.000000   0.00000  ...   0.0   0.0   0.0   0.0   0.0   0.0   0.0
1        0.000000   0.00000  ...   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2        0.000000   0.00000  ...   0.0   0.0   0.0   0.0   0.0   0.0   0.0
3        0.000000   0.00000  ...   0.0   0.0   0.0   0.0   0.0   0.0   0.0
4       57.991138  59.36554  ...   0.0   0.0   0.0   0.0   0.0   0.0   0.0
...           ...       ...  ...   ...   ...   ...   ...   ...   ...   ...
886925   0.000000   0.00000  ...   0.0   0.0   0.0   0.0   0.0   0.0   0.0
886926   0.000000   0.00000  ...   0.0   0.0   0.0   0.0   0.0   0.0   0.0
886927   0.000000   0.00000  ...   0.0   0.0   0.0   0.0   0.0   0.0   0.0
886928   0.000000   0.00000  ...   0.0   0.0   0.0   0.0   0.0   0.0   0.0
886929   0.000000   0.00000  ...   0.0   0.0   0.0   0.0   0.0   0.0   0.0

        2095  2100  Unnamed: 69
0        0.0   0.0          0.0
1        0.0   0.0          0.0
2        0.0   0.0          0.0
3        0.0   0.0          0.0
4        0.0   0.0          0.0
...      ...   ...          ...
886925   0.0   0.0          0.0
886926   0.0   0.0          0.0
886927   0.0   0.0          0.0
886928   0.0   0.0          0.0
886929   0.0   0.0          0.0

[886930 rows x 70 columns]

In [195]:
#Calcule statistique :
data_edSD_csv.describe()

,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,...,2060,2065,2070,2075,2080,2085,2090,2095,2100,Unnamed: 69
count,8.869300e+05,8.869300e+05,8.869300e+05,8.869300e+05,8.869300e+05,8.869300e+05,8.869300e+05,8.869300e+05,8.869300e+05,8.869300e+05,...,8.869300e+05,8.869300e+05,8.869300e+05,8.869300e+05,8.869300e+05,8.869300e+05,8.869300e+05,8.869300e+05,8.869300e+05,886930.0
mean,1.609511e+08,1.704323e+08,1.844288e+08,2.045905e+08,2.175993e+08,2.278096e+08,2.422349e+08,2.594563e+08,2.826467e+08,3.086358e+08,...,4.189940e+01,4.216861e+01,4.224104e+01,4.214074e+01,4.191946e+01,4.162121e+01,4.125105e+01,4.079408e+01,4.024907e+01,0.0
std,3.459625e+10,3.613584e+10,3.836816e+10,4.123434e+10,4.240597e+10,4.314714e+10,4.556034e+10,4.787976e+10,5.093937e+10,5.422844e+10,...,5.338776e+03,5.512462e+03,5.667359e+03,5.801689e+03,5.916601e+03,6.014514e+03,6.095347e+03,6.157613e+03,6.201176e+03,0.0
min,-1.435564e+00,-1.594625e+00,-3.056522e+00,-4.032582e+00,-4.213563e+00,-3.658569e+00,-2.950945e+00,-3.174870e+00,-3.558749e+00,-2.973612e+00,...,-1.630000e+00,-1.440000e+00,-1.260000e+00,-1.090000e+00,-9.200000e-01,-7.800000e-01,-6.500000e-01,-5.500000e-01,-4.500000e-01,0.0
25%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0
50%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0
75%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0
max,1.903929e+13,1.986457e+13,2.100916e+13,2.238367e+13,2.282991e+13,2.300634e+13,2.424128e+13,2.521383e+13,2.622101e+13,2.730873e+13,...,2.951569e+06,3.070879e+06,3.169711e+06,3.246239e+06,3.301586e+06,3.337871e+06,3.354746e+06,3.351887e+06,3.330484e+06,0.0

In [196]:
#calculez le nombre d'occurrences : 
cn = data_edSD_csv['Country Name'].value_counts()
cc =data_edSD_csv['Country Code'].value_counts()
iname = data_edSD_csv['Indicator Name'].value_counts()
ic = data_edSD_csv['Indicator Code'].value_counts()

print("Country Name : ", cn)
print("Country Code : ", cc)
print("Indicator Name : ", iname)
print("Indicator Code : ", ic)

Country Name :  Country Name
Arab World                                     3665
East Asia & Pacific                            3665
East Asia & Pacific (excluding high income)    3665
Euro area                                      3665
Europe & Central Asia                          3665
                                               ...
Virgin Islands (U.S.)                          3665
West Bank and Gaza                             3665
Yemen, Rep.                                    3665
Zambia                                         3665
Zimbabwe                                       3665
Name: count, Length: 242, dtype: int64
Country Code :  Country Code
ARB    3665
EAS    3665
EAP    3665
EMU    3665
ECS    3665
       ...
VIR    3665
PSE    3665
YEM    3665
ZMB    3665
ZWE    3665
Name: count, Length: 242, dtype: int64
Indicator Name :  Indicator Name
Youth literacy rate, population 15-24 years, male (%)                                                                  242
Wittgenstein Projection: Population in thousands by highest level of educational attainment. Post Secondary. Female    242
Wittgenstein Projection: Population in thousands by highest level of educational attainment. No Education. Total       242
Wittgenstein Projection: Population in thousands by highest level of educational attainment. No Education. Male        242
Wittgenstein Projection: Population in thousands by highest level of educational attainment. No Education. Female      242
                                                                                                                      ...
Adjusted net enrolment rate, primary, female (%)                                                                       242
Adjusted net enrolment rate, primary, both sexes (%)                                                                   242
Adjusted net enrolment rate, lower secondary, male (%)                                                                 242
Adjusted net enrolment rate, lower secondary, gender parity index (GPI)                                                242
Adjusted net enrolment rate, lower secondary, female (%)                                                               242
Name: count, Length: 3665, dtype: int64
Indicator Code :  Indicator Code
SE.ADT.1524.LT.MA.ZS    242
PRJ.POP.ALL.4.FE        242
PRJ.POP.ALL.NED.MF      242
PRJ.POP.ALL.NED.MA      242
PRJ.POP.ALL.NED.FE      242
                       ...
SE.PRM.TENR.FE          242
SE.PRM.TENR             242
UIS.NERA.2.M            242
UIS.NERA.2.GPI          242
UIS.NERA.2.F            242
Name: count, Length: 3665, dtype: int64

<hr style="border: 1px solid #C4341A;">

<h2 style="color:#C4341A;"> Importation EdStatsFootNote </h2>

<blockquote style="background-color:#f9f9f9; color:#333; border-left:5px solid #007BFF; padding:10px;">
Chaque ligne correspond Ã  un pays avec son code de sÃ©rie unique</blockquote>

In [37]:
data_edSFN_csv = pd.read_csv('EdStatsFootNote.csv')

#Colonne inutile
data_edSFN_csv = data_edSFN_csv.drop(columns=['Unnamed: 4'])
data_edSFN_csv.head()

  CountryCode      SeriesCode    Year          DESCRIPTION
0         ABW  SE.PRE.ENRL.FE  YR2001  Country estimation.
1         ABW  SE.TER.TCHR.FE  YR2005  Country estimation.
2         ABW  SE.PRE.TCHR.FE  YR2000  Country estimation.
3         ABW  SE.SEC.ENRL.GC  YR2004  Country estimation.
4         ABW     SE.PRE.TCHR  YR2006  Country estimation.

In [40]:
#Netoyage Des pays
#data_edSC_csv.drop(data_edSC_csv[data_edSC_csv['Short Name'] == 'Aruba'].index, inplace=True)

data_edSFN_csv = data_edSFN_csv[data_edSFN_csv['CountryCode'].isin(valid_countries)]

data_edSFN_csv.head()

  CountryCode      SeriesCode    Year          DESCRIPTION
0         ABW  SE.PRE.ENRL.FE  YR2001  Country estimation.
1         ABW  SE.TER.TCHR.FE  YR2005  Country estimation.
2         ABW  SE.PRE.TCHR.FE  YR2000  Country estimation.
3         ABW  SE.SEC.ENRL.GC  YR2004  Country estimation.
4         ABW     SE.PRE.TCHR  YR2006  Country estimation.

**Collectez des informations basiques sur chaque jeu de donnÃ©es**

**Nombre de ligne et colonne : **

In [41]:
row = data_edSFN_csv.shape[0]
column = data_edSFN_csv.shape[1]

print("Nombre de ligne :", row)
print("Nombre de collone :", column)

Nombre de ligne : 516215
Nombre de collone : 4

**Nombre de doublon : **

In [42]:
print("Nombre de doublon :", data_edSFN_csv.duplicated().sum())

Nombre de doublon : 0

In [45]:
data_edSFN_csv = data_edSFN_csv.drop_duplicates() 
print("Nombre de lignes aprÃ¨s suppression des doublons :", data_edSFN_csv.shape[0])

Nombre de lignes aprÃ¨s suppression des doublons : 516215

In [44]:
#Pourcentage de valeurs manquantes = (Nombre de valeurs manquantes / Nombre total de valeurs) * 100
missing_values = data_edSFN_csv.isnull().sum()
total_values = data_edSFN_csv.count() + missing_values
percentage_missing = (missing_values / total_values) * 100
print(percentage_missing)

CountryCode    0.0
SeriesCode     0.0
Year           0.0
DESCRIPTION    0.0
dtype: float64

In [186]:
#Colonnes inutilisables :
clean = data_edSFN_csv.dropna(axis=1, how='all')
print("suppression de toutes les colonnes inutiles :", clean)

suppression de toutes les colonnes inutiles :        CountryCode      SeriesCode    Year  \
0              ABW  SE.PRE.ENRL.FE  YR2001
1              ABW  SE.TER.TCHR.FE  YR2005
2              ABW  SE.PRE.TCHR.FE  YR2000
3              ABW  SE.SEC.ENRL.GC  YR2004
4              ABW     SE.PRE.TCHR  YR2006
...            ...             ...     ...
643633         ZWE     SH.DYN.MORT  YR2007
643634         ZWE     SH.DYN.MORT  YR2014
643635         ZWE     SH.DYN.MORT  YR2015
643636         ZWE     SH.DYN.MORT  YR2017
643637         ZWE     SP.POP.GROW  YR2017

                                   DESCRIPTION  Unnamed: 4
0                          Country estimation.         0.0
1                          Country estimation.         0.0
2                          Country estimation.         0.0
3                          Country estimation.         0.0
4                          Country estimation.         0.0
...                                        ...         ...
643633       Uncertainty bound is 91.6 - 109.3         0.0
643634          Uncertainty bound is 54.3 - 76         0.0
643635        Uncertainty bound is 48.3 - 73.3         0.0
643636  5-year average value between 0s and 5s         0.0
643637  5-year average value between 0s and 5s         0.0

[643638 rows x 5 columns]

In [189]:
#Calcule statistique :
data_edSD_csv.describe()

,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,...,2060,2065,2070,2075,2080,2085,2090,2095,2100,Unnamed: 69
count,8.869300e+05,8.869300e+05,8.869300e+05,8.869300e+05,8.869300e+05,8.869300e+05,8.869300e+05,8.869300e+05,8.869300e+05,8.869300e+05,...,8.869300e+05,8.869300e+05,8.869300e+05,8.869300e+05,8.869300e+05,8.869300e+05,8.869300e+05,8.869300e+05,8.869300e+05,886930.0
mean,1.609511e+08,1.704323e+08,1.844288e+08,2.045905e+08,2.175993e+08,2.278096e+08,2.422349e+08,2.594563e+08,2.826467e+08,3.086358e+08,...,4.189940e+01,4.216861e+01,4.224104e+01,4.214074e+01,4.191946e+01,4.162121e+01,4.125105e+01,4.079408e+01,4.024907e+01,0.0
std,3.459625e+10,3.613584e+10,3.836816e+10,4.123434e+10,4.240597e+10,4.314714e+10,4.556034e+10,4.787976e+10,5.093937e+10,5.422844e+10,...,5.338776e+03,5.512462e+03,5.667359e+03,5.801689e+03,5.916601e+03,6.014514e+03,6.095347e+03,6.157613e+03,6.201176e+03,0.0
min,-1.435564e+00,-1.594625e+00,-3.056522e+00,-4.032582e+00,-4.213563e+00,-3.658569e+00,-2.950945e+00,-3.174870e+00,-3.558749e+00,-2.973612e+00,...,-1.630000e+00,-1.440000e+00,-1.260000e+00,-1.090000e+00,-9.200000e-01,-7.800000e-01,-6.500000e-01,-5.500000e-01,-4.500000e-01,0.0
25%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0
50%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0
75%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0
max,1.903929e+13,1.986457e+13,2.100916e+13,2.238367e+13,2.282991e+13,2.300634e+13,2.424128e+13,2.521383e+13,2.622101e+13,2.730873e+13,...,2.951569e+06,3.070879e+06,3.169711e+06,3.246239e+06,3.301586e+06,3.337871e+06,3.354746e+06,3.351887e+06,3.330484e+06,0.0

In [206]:
#calculez le nombre d'occurrences : 
cc = data_edSFN_csv['CountryCode'].value_counts()
sc = data_edSFN_csv['SeriesCode'].value_counts()
y = data_edSFN_csv['Year'].value_counts()

print("CountryCode :", cc)
print("SeriesCode :", sc)
print("Year :", y)

CountryCode : CountryCode
LIC    7320
CYP    7183
LDC    6481
SSA    6389
SSF    6336
       ...
IMN      32
CUW      23
XKX      12
MNP       4
FRO       2
Name: count, Length: 239, dtype: int64
SeriesCode : SeriesCode
SH.DYN.MORT                  9226
SE.PRM.AGES                  8771
SE.PRM.DURS                  8771
SE.SEC.DURS                  8619
SE.SEC.AGES                  8581
                             ...
NY.GNP.MKTP.PP.CD               1
NY.GNP.PCAP.PP.CD               1
UIS.AFR.SCHCENRESPR.23.PU       1
SL.UEM.TOTL.MA.ZS               1
UIS.XPubP.0                     1
Name: count, Length: 1558, dtype: int64
Year : Year
YR2004    27128
YR2005    25992
YR2002    25687
YR2003    25683
YR2000    25093
YR2001    25047
YR2008    25018
YR1999    24938
YR2007    24263
YR2006    23394
YR2009    22965
YR2010    22598
YR2011    17760
YR1998    14916
YR2012    13890
YR2013    13405
YR1994    11448
YR2014    11378
YR1992    11309
YR1996    11197
YR1995    11194
YR1997    11167
YR1991    11129
YR1993    11093
YR1990    10616
YR1986     9743
YR1985     9653
YR1989     9517
YR1981     9465
YR1984     9386
YR1988     9382
YR1987     9357
YR1983     9227
YR1982     9014
YR1980     8950
YR1979     8742
YR1976     8729
YR1972     8661
YR1975     8627
YR1977     8593
YR1978     8585
YR1973     8571
YR1974     8512
YR1971     8507
YR2015     6348
YR1970     5374
YR2016      819
YR2017      558
YR2035      144
YR2050      144
YR2045      144
YR2040      144
YR2030      140
YR2025      140
YR2020      140
yr2012       14
Name: count, dtype: int64

<hr style="border: 1px solid #C4341A;">

<h2 style="color:#C4341A;"> Importation EdStatsData </h2>

<blockquote style="background-color:#f9f9f9; color:#333; border-left:5px solid #007BFF; padding:10px;">
Chaque ligne correspond Ã  un pays avec son code de sÃ©rie unique</blockquote>

In [48]:
data_edSD_csv = pd.read_csv('EdStatsData.csv')

#Colonne inutile
data_edSD_csv = data_edSD_csv.drop(columns=['Unnamed: 69'])

data_edSD_csv.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1970,1971,1972,1973,1974,1975,...,2055,2060,2065,2070,2075,2080,2085,2090,2095,2100
0,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.F,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.GPI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.M,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arab World,ARB,"Adjusted net enrolment rate, primary, both sex...",SE.PRM.TENR,54.822121,54.894138,56.209438,57.267109,57.991138,59.36554,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
#Netoyage Des pays
data_edSD_csv = data_edSD_csv[data_edSD_csv['Country Code'].isin(valid_countries)]

data_edSD_csv.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1970,1971,1972,1973,1974,1975,...,2055,2060,2065,2070,2075,2080,2085,2090,2095,2100
91625,Afghanistan,AFG,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2,NaN,NaN,NaN,NaN,7.05911,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91626,Afghanistan,AFG,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.F,NaN,NaN,NaN,NaN,2.53138,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91627,Afghanistan,AFG,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.GPI,NaN,NaN,NaN,NaN,0.22154,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91628,Afghanistan,AFG,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.M,NaN,NaN,NaN,NaN,11.42652,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91629,Afghanistan,AFG,"Adjusted net enrolment rate, primary, both sex...",SE.PRM.TENR,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**Collectez des informations basiques sur chaque jeu de donnÃ©es**

**Nombre de ligne et colonne : **

In [50]:
row = data_edSD_csv.shape[0]
column = data_edSD_csv.shape[1]

print("Nombre de ligne :", row)
print("Nombre de colone :", column)

Nombre de ligne : 773315
Nombre de colone : 69

**Nombre de doublon : **

In [121]:
print("Nombre de doublon :", data_edSD_csv.duplicated().sum())

Nombre de doublon : 0

In [122]:
data_edSD_csv = data_edSD_csv.drop_duplicates() 
print("Nombre de lignes aprÃ¨s suppression des doublons :", data_edSD_csv.shape[0])

Nombre de lignes aprÃ¨s suppression des doublons : 886930

In [123]:
#Pourcentage de valeurs manquantes = (Nombre de valeurs manquantes / Nombre total de valeurs) * 100
missing_values = data_edSD_csv.isnull().sum()
total_values = data_edSD_csv.count() + missing_values
percentage_missing = (missing_values / total_values) * 100
print(percentage_missing)

Country Name        0.000000
Country Code        0.000000
Indicator Name      0.000000
Indicator Code      0.000000
1970               91.849639
                     ...
2085               94.200670
2090               94.200670
2095               94.200670
2100               94.200670
Unnamed: 69       100.000000
Length: 70, dtype: float64

In [363]:
#Colonnes inutilisables :
clean = data_edSD_csv.dropna(axis=1, how='all')
print("suppression de toutes les colonnes inutiles :", clean)

suppression de toutes les colonnes inutiles :        Country Name Country Code  \
0        Arab World          ARB
1        Arab World          ARB
2        Arab World          ARB
3        Arab World          ARB
4        Arab World          ARB
...             ...          ...
886925     Zimbabwe          ZWE
886926     Zimbabwe          ZWE
886927     Zimbabwe          ZWE
886928     Zimbabwe          ZWE
886929     Zimbabwe          ZWE

                                           Indicator Name  \
0       Adjusted net enrolment rate, lower secondary, ...
1       Adjusted net enrolment rate, lower secondary, ...
2       Adjusted net enrolment rate, lower secondary, ...
3       Adjusted net enrolment rate, lower secondary, ...
4       Adjusted net enrolment rate, primary, both sex...
...                                                   ...
886925  Youth illiterate population, 15-24 years, male...
886926  Youth literacy rate, population 15-24 years, b...
886927  Youth literacy rate, population 15-24 years, f...
886928  Youth literacy rate, population 15-24 years, g...
886929  Youth literacy rate, population 15-24 years, m...

              Indicator Code       1970       1971       1972       1973  \
0                 UIS.NERA.2   0.000000   0.000000   0.000000   0.000000
1               UIS.NERA.2.F   0.000000   0.000000   0.000000   0.000000
2             UIS.NERA.2.GPI   0.000000   0.000000   0.000000   0.000000
3               UIS.NERA.2.M   0.000000   0.000000   0.000000   0.000000
4                SE.PRM.TENR  54.822121  54.894138  56.209438  57.267109
...                      ...        ...        ...        ...        ...
886925      UIS.LP.AG15T24.M   0.000000   0.000000   0.000000   0.000000
886926     SE.ADT.1524.LT.ZS   0.000000   0.000000   0.000000   0.000000
886927  SE.ADT.1524.LT.FE.ZS   0.000000   0.000000   0.000000   0.000000
886928  SE.ADT.1524.LT.FM.ZS   0.000000   0.000000   0.000000   0.000000
886929  SE.ADT.1524.LT.MA.ZS   0.000000   0.000000   0.000000   0.000000

             1974      1975  ...  2060  2065  2070  2075  2080  2085  2090  \
0        0.000000   0.00000  ...   0.0   0.0   0.0   0.0   0.0   0.0   0.0
1        0.000000   0.00000  ...   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2        0.000000   0.00000  ...   0.0   0.0   0.0   0.0   0.0   0.0   0.0
3        0.000000   0.00000  ...   0.0   0.0   0.0   0.0   0.0   0.0   0.0
4       57.991138  59.36554  ...   0.0   0.0   0.0   0.0   0.0   0.0   0.0
...           ...       ...  ...   ...   ...   ...   ...   ...   ...   ...
886925   0.000000   0.00000  ...   0.0   0.0   0.0   0.0   0.0   0.0   0.0
886926   0.000000   0.00000  ...   0.0   0.0   0.0   0.0   0.0   0.0   0.0
886927   0.000000   0.00000  ...   0.0   0.0   0.0   0.0   0.0   0.0   0.0
886928   0.000000   0.00000  ...   0.0   0.0   0.0   0.0   0.0   0.0   0.0
886929   0.000000   0.00000  ...   0.0   0.0   0.0   0.0   0.0   0.0   0.0

        2095  2100  Unnamed: 69
0        0.0   0.0          0.0
1        0.0   0.0          0.0
2        0.0   0.0          0.0
3        0.0   0.0          0.0
4        0.0   0.0          0.0
...      ...   ...          ...
886925   0.0   0.0          0.0
886926   0.0   0.0          0.0
886927   0.0   0.0          0.0
886928   0.0   0.0          0.0
886929   0.0   0.0          0.0

[886930 rows x 70 columns]

In [195]:
#Calcule statistique :
data_edSD_csv.describe()

,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,...,2060,2065,2070,2075,2080,2085,2090,2095,2100,Unnamed: 69
count,8.869300e+05,8.869300e+05,8.869300e+05,8.869300e+05,8.869300e+05,8.869300e+05,8.869300e+05,8.869300e+05,8.869300e+05,8.869300e+05,...,8.869300e+05,8.869300e+05,8.869300e+05,8.869300e+05,8.869300e+05,8.869300e+05,8.869300e+05,8.869300e+05,8.869300e+05,886930.0
mean,1.609511e+08,1.704323e+08,1.844288e+08,2.045905e+08,2.175993e+08,2.278096e+08,2.422349e+08,2.594563e+08,2.826467e+08,3.086358e+08,...,4.189940e+01,4.216861e+01,4.224104e+01,4.214074e+01,4.191946e+01,4.162121e+01,4.125105e+01,4.079408e+01,4.024907e+01,0.0
std,3.459625e+10,3.613584e+10,3.836816e+10,4.123434e+10,4.240597e+10,4.314714e+10,4.556034e+10,4.787976e+10,5.093937e+10,5.422844e+10,...,5.338776e+03,5.512462e+03,5.667359e+03,5.801689e+03,5.916601e+03,6.014514e+03,6.095347e+03,6.157613e+03,6.201176e+03,0.0
min,-1.435564e+00,-1.594625e+00,-3.056522e+00,-4.032582e+00,-4.213563e+00,-3.658569e+00,-2.950945e+00,-3.174870e+00,-3.558749e+00,-2.973612e+00,...,-1.630000e+00,-1.440000e+00,-1.260000e+00,-1.090000e+00,-9.200000e-01,-7.800000e-01,-6.500000e-01,-5.500000e-01,-4.500000e-01,0.0
25%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0
50%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0
75%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0
max,1.903929e+13,1.986457e+13,2.100916e+13,2.238367e+13,2.282991e+13,2.300634e+13,2.424128e+13,2.521383e+13,2.622101e+13,2.730873e+13,...,2.951569e+06,3.070879e+06,3.169711e+06,3.246239e+06,3.301586e+06,3.337871e+06,3.354746e+06,3.351887e+06,3.330484e+06,0.0

In [196]:
#calculez le nombre d'occurrences : 
cn = data_edSD_csv['Country Name'].value_counts()
cc =data_edSD_csv['Country Code'].value_counts()
iname = data_edSD_csv['Indicator Name'].value_counts()
ic = data_edSD_csv['Indicator Code'].value_counts()

print("Country Name : ", cn)
print("Country Code : ", cc)
print("Indicator Name : ", iname)
print("Indicator Code : ", ic)

Country Name :  Country Name
Arab World                                     3665
East Asia & Pacific                            3665
East Asia & Pacific (excluding high income)    3665
Euro area                                      3665
Europe & Central Asia                          3665
                                               ...
Virgin Islands (U.S.)                          3665
West Bank and Gaza                             3665
Yemen, Rep.                                    3665
Zambia                                         3665
Zimbabwe                                       3665
Name: count, Length: 242, dtype: int64
Country Code :  Country Code
ARB    3665
EAS    3665
EAP    3665
EMU    3665
ECS    3665
       ...
VIR    3665
PSE    3665
YEM    3665
ZMB    3665
ZWE    3665
Name: count, Length: 242, dtype: int64
Indicator Name :  Indicator Name
Youth literacy rate, population 15-24 years, male (%)                                                                  242
Wittgenstein Projection: Population in thousands by highest level of educational attainment. Post Secondary. Female    242
Wittgenstein Projection: Population in thousands by highest level of educational attainment. No Education. Total       242
Wittgenstein Projection: Population in thousands by highest level of educational attainment. No Education. Male        242
Wittgenstein Projection: Population in thousands by highest level of educational attainment. No Education. Female      242
                                                                                                                      ...
Adjusted net enrolment rate, primary, female (%)                                                                       242
Adjusted net enrolment rate, primary, both sexes (%)                                                                   242
Adjusted net enrolment rate, lower secondary, male (%)                                                                 242
Adjusted net enrolment rate, lower secondary, gender parity index (GPI)                                                242
Adjusted net enrolment rate, lower secondary, female (%)                                                               242
Name: count, Length: 3665, dtype: int64
Indicator Code :  Indicator Code
SE.ADT.1524.LT.MA.ZS    242
PRJ.POP.ALL.4.FE        242
PRJ.POP.ALL.NED.MF      242
PRJ.POP.ALL.NED.MA      242
PRJ.POP.ALL.NED.FE      242
                       ...
SE.PRM.TENR.FE          242
SE.PRM.TENR             242
UIS.NERA.2.M            242
UIS.NERA.2.GPI          242
UIS.NERA.2.F            242
Name: count, Length: 3665, dtype: int64

<hr style="border: 1px solid #C4341A;">

<h2 style="color:#C4341A;"> Importation EdStatsSeries </h2>

<blockquote style="background-color:#f9f9f9; color:#333; border-left:5px solid #007BFF; padding:10px;">
Chaque ligne correspond Ã  un pays avec son code de sÃ©rie unique</blockquote>

In [13]:
data_edS_csv = pd.read_csv('EdStatsSeries.csv')

data_edS_csv.head()

,Series Code,Topic,Indicator Name,Short definition,Long definition,Unit of measure,Periodicity,Base Period,Other notes,Aggregation method,...,Notes from original source,General comments,Source,Statistical concept and methodology,Development relevance,Related source links,Other web links,Related indicators,License Type,Unnamed: 20
0,BAR.NOED.1519.FE.ZS,Attainment,Barro-Lee: Percentage of female population age...,Percentage of female population age 15-19 with...,Percentage of female population age 15-19 with...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BAR.NOED.1519.ZS,Attainment,Barro-Lee: Percentage of population age 15-19 ...,Percentage of population age 15-19 with no edu...,Percentage of population age 15-19 with no edu...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BAR.NOED.15UP.FE.ZS,Attainment,Barro-Lee: Percentage of female population age...,Percentage of female population age 15+ with n...,Percentage of female population age 15+ with n...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BAR.NOED.15UP.ZS,Attainment,Barro-Lee: Percentage of population age 15+ wi...,Percentage of population age 15+ with no educa...,Percentage of population age 15+ with no educa...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BAR.NOED.2024.FE.ZS,Attainment,Barro-Lee: Percentage of female population age...,Percentage of female population age 20-24 with...,Percentage of female population age 20-24 with...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
#Colonne inutile
data_edS_csv = data_edS_csv.drop(columns=['Unnamed: 20'])
data_edS_csv.head()

,Series Code,Topic,Indicator Name,Short definition,Long definition,Unit of measure,Periodicity,Base Period,Other notes,Aggregation method,Limitations and exceptions,Notes from original source,General comments,Source,Statistical concept and methodology,Development relevance,Related source links,Other web links,Related indicators,License Type
0,BAR.NOED.1519.FE.ZS,Attainment,Barro-Lee: Percentage of female population age...,Percentage of female population age 15-19 with...,Percentage of female population age 15-19 with...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN
1,BAR.NOED.1519.ZS,Attainment,Barro-Lee: Percentage of population age 15-19 ...,Percentage of population age 15-19 with no edu...,Percentage of population age 15-19 with no edu...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN
2,BAR.NOED.15UP.FE.ZS,Attainment,Barro-Lee: Percentage of female population age...,Percentage of female population age 15+ with n...,Percentage of female population age 15+ with n...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN
3,BAR.NOED.15UP.ZS,Attainment,Barro-Lee: Percentage of population age 15+ wi...,Percentage of population age 15+ with no educa...,Percentage of population age 15+ with no educa...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN
4,BAR.NOED.2024.FE.ZS,Attainment,Barro-Lee: Percentage of female population age...,Percentage of female population age 20-24 with...,Percentage of female population age 20-24 with...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN

**Collectez des informations basiques sur chaque jeu de donnÃ©es**

**Nombre de ligne et colonne : **

In [15]:
row = data_edS_csv.shape[0]
column = data_edS_csv.shape[1]

print("Nombre de ligne :", row)
print("Nombre de collone :", column)

Nombre de ligne : 3665
Nombre de collone : 20

**Nombre de doublon : **

In [16]:
print("Nombre de doublon :", data_edS_csv.duplicated().sum())

Nombre de doublon : 0

In [17]:
data_edS_csv = data_edS_csv.drop_duplicates() 
print("Nombre de lignes aprÃ¨s suppression des doublons :", data_edS_csv.shape[0])

Nombre de lignes aprÃ¨s suppression des doublons : 3665

In [18]:
#Pourcentage de valeurs manquantes = (Nombre de valeurs manquantes / Nombre total de valeurs) * 100
missing_values = data_edS_csv.isnull().sum()
total_values = data_edS_csv.count() + missing_values
percentage_missing = (missing_values / total_values) * 100
print(percentage_missing)

Series Code                              0.000000
Topic                                    0.000000
Indicator Name                           0.000000
Short definition                        41.173261
Long definition                          0.000000
Unit of measure                        100.000000
Periodicity                             97.298772
Base Period                             91.432469
Other notes                             84.938608
Aggregation method                      98.717599
Limitations and exceptions              99.618008
Notes from original source             100.000000
General comments                        99.618008
Source                                   0.000000
Statistical concept and methodology     99.372442
Development relevance                   99.918145
Related source links                    94.133697
Other web links                        100.000000
Related indicators                     100.000000
License Type                           100.000000
dtype: float64

In [28]:
#Colonnes inutilisables :
clean = data_edS_csv.replace("", float("nan")).dropna(axis=1, how='all')
print("Suppression de toutes les colonnes inutiles :")
print(clean)

data_edS_csv.head()

Suppression de toutes les colonnes inutiles :
                      Series Code         Topic  \
0             BAR.NOED.1519.FE.ZS    Attainment
1                BAR.NOED.1519.ZS    Attainment
2             BAR.NOED.15UP.FE.ZS    Attainment
3                BAR.NOED.15UP.ZS    Attainment
4             BAR.NOED.2024.FE.ZS    Attainment
...                           ...           ...
3660    UIS.XUNIT.USCONST.3.FSGOV  Expenditures
3661    UIS.XUNIT.USCONST.4.FSGOV  Expenditures
3662   UIS.XUNIT.USCONST.56.FSGOV  Expenditures
3663  XGDP.23.FSGOV.FDINSTADM.FFD  Expenditures
3664  XGDP.56.FSGOV.FDINSTADM.FFD  Expenditures

                                         Indicator Name  \
0     Barro-Lee: Percentage of female population age...
1     Barro-Lee: Percentage of population age 15-19 ...
2     Barro-Lee: Percentage of female population age...
3     Barro-Lee: Percentage of population age 15+ wi...
4     Barro-Lee: Percentage of female population age...
...                                                 ...
3660  Government expenditure per upper secondary stu...
3661  Government expenditure per post-secondary non-...
3662  Government expenditure per tertiary student (c...
3663  Government expenditure in secondary institutio...
3664  Government expenditure in tertiary institution...

                                       Short definition  \
0     Percentage of female population age 15-19 with...
1     Percentage of population age 15-19 with no edu...
2     Percentage of female population age 15+ with n...
3     Percentage of population age 15+ with no educa...
4     Percentage of female population age 20-24 with...
...                                                 ...
3660                                                NaN
3661                                                NaN
3662                                                NaN
3663  Total general (local, regional and central) go...
3664  Total general (local, regional and central) go...

                                        Long definition Periodicity  \
0     Percentage of female population age 15-19 with...         NaN
1     Percentage of population age 15-19 with no edu...         NaN
2     Percentage of female population age 15+ with n...         NaN
3     Percentage of population age 15+ with no educa...         NaN
4     Percentage of female population age 20-24 with...         NaN
...                                                 ...         ...
3660  Average total (current, capital and transfers)...         NaN
3661  Average total (current, capital and transfers)...         NaN
3662  Average total (current, capital and transfers)...         NaN
3663  Total general (local, regional and central) go...         NaN
3664  Total general (local, regional and central) go...         NaN

     Base Period Other notes Aggregation method Limitations and exceptions  \
0            NaN         NaN                NaN                        NaN
1            NaN         NaN                NaN                        NaN
2            NaN         NaN                NaN                        NaN
3            NaN         NaN                NaN                        NaN
4            NaN         NaN                NaN                        NaN
...          ...         ...                ...                        ...
3660         NaN         NaN                NaN                        NaN
3661         NaN         NaN                NaN                        NaN
3662         NaN         NaN                NaN                        NaN
3663         NaN   Secondary                NaN                        NaN
3664         NaN    Tertiary                NaN                        NaN

     General comments                                             Source  \
0                 NaN  Robert J. Barro and Jong-Wha Lee: http://www.b...
1                 NaN  Robert J. Barro and Jong-Wha Lee: http://www.b...
2                 NaN  Robert J. Barro and Jong-Wha Lee: http://www.b...
3                 NaN  Robert J. Barro and Jong-Wha Lee: http://www.b...
4                 NaN  Robert J. Barro and Jong-Wha Lee: http://www.b...
...               ...                                                ...
3660              NaN                    UNESCO Institute for Statistics
3661              NaN                    UNESCO Institute for Statistics
3662              NaN                    UNESCO Institute for Statistics
3663              NaN                    UNESCO Institute for Statistics
3664              NaN                    UNESCO Institute for Statistics

     Statistical concept and methodology Development relevance  \
0                                    NaN                   NaN
1                                    NaN                   NaN
2                                    NaN                   NaN
3                                    NaN                   NaN
4                                    NaN                   NaN
...                                  ...                   ...
3660                                 NaN                   NaN
3661                                 NaN                   NaN
3662                                 NaN                   NaN
3663                                 NaN                   NaN
3664                                 NaN                   NaN

     Related source links
0                     NaN
1                     NaN
2                     NaN
3                     NaN
4                     NaN
...                   ...
3660                  NaN
3661                  NaN
3662                  NaN
3663                  NaN
3664                  NaN

[3665 rows x 15 columns]

,Series Code,Topic,Indicator Name,Short definition,Long definition,Unit of measure,Periodicity,Base Period,Other notes,Aggregation method,Limitations and exceptions,Notes from original source,General comments,Source,Statistical concept and methodology,Development relevance,Related source links,Other web links,Related indicators,License Type
0,BAR.NOED.1519.FE.ZS,Attainment,Barro-Lee: Percentage of female population age...,Percentage of female population age 15-19 with...,Percentage of female population age 15-19 with...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN
1,BAR.NOED.1519.ZS,Attainment,Barro-Lee: Percentage of population age 15-19 ...,Percentage of population age 15-19 with no edu...,Percentage of population age 15-19 with no edu...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN
2,BAR.NOED.15UP.FE.ZS,Attainment,Barro-Lee: Percentage of female population age...,Percentage of female population age 15+ with n...,Percentage of female population age 15+ with n...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN
3,BAR.NOED.15UP.ZS,Attainment,Barro-Lee: Percentage of population age 15+ wi...,Percentage of population age 15+ with no educa...,Percentage of population age 15+ with no educa...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN
4,BAR.NOED.2024.FE.ZS,Attainment,Barro-Lee: Percentage of female population age...,Percentage of female population age 20-24 with...,Percentage of female population age 20-24 with...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
#Calcule statistique :
data_edSS_csv.describe()

,Unit of measure,Notes from original source,Other web links,Related indicators,License Type
count,0.0,0.0,0.0,0.0,0.0
mean,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN

In [23]:
#calculez le nombre d'occurrences : 
columns = [
    'Topic',
]


for col in columns:
    count = data_edS_csv[col].value_counts()
    print(f"Occurrences for '{col}':")
    print(count)
    print("-" * 40)

Occurrences for 'Topic':
Topic
Learning Outcomes                                                                               1046
Attainment                                                                                       733
Education Equality                                                                               426
Secondary                                                                                        256
Primary                                                                                          248
Population                                                                                       213
Tertiary                                                                                         158
Teachers                                                                                         137
Expenditures                                                                                      93
Engaging the Private Sector (SABER)                                                               51
Literacy                                                                                          32
Teachers (SABER)                                                                                  29
School Autonomy and Accountability (SABER)                                                        29
Early Childhood Education                                                                         24
Education Management Information Systems (SABER)                                                  23
Post-Secondary/Non-Tertiary                                                                       19
School Finance (SABER)                                                                            18
Tertiary Education (SABER)                                                                        17
Student Assessment (SABER)                                                                        15
Pre-Primary                                                                                       14
Health: Population: Structure                                                                     13
Early Child Development (SABER)                                                                   12
Workforce Development (SABER)                                                                     12
Social Protection & Labor: Labor force structure                                                  11
School Health and School Feeding (SABER)                                                           9
Economic Policy & Debt: Purchasing power parity                                                    6
Economic Policy & Debt: National accounts: US$ at current prices: Aggregate indicators             3
Laber                                                                                              3
Social Protection & Labor: Unemployment                                                            3
Infrastructure: Communications                                                                     2
EMIS                                                                                               2
Economic Policy & Debt: National accounts: US$ at constant 2010 prices: Aggregate indicators       2
Background                                                                                         2
Economic Policy & Debt: National accounts: Atlas GNI & GNI per capita                              1
Health: Risk factors                                                                               1
Health: Mortality                                                                                  1
Health: Population: Dynamics                                                                       1
Name: count, dtype: int64
----------------------------------------